 * {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #8ecae6;
}

:root{
    --size:3;
}
.containerSection{
    display: grid;
    
    grid-template-columns: repeat(auto-fit, minmax(15rem, 1fr));
    place-items: center;
}
.startSection{
    display: inline-block;
}
.scoreSection{
    display: inline-block;
}
.tittle{
    display: flex;
    justify-content: center;
}

.gameInfo{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(2rem, 1fr));
    place-items: center;
}

.board{
    display: grid;
    grid-template-columns:repeat(var(--size), 0.15fr);
    grid-template-rows: repeat(var(--size), 0.1fr);
    padding: 0.4em;
    background-color: #ffb703;
}

.numberGenerator{
    display: flex;
    align-items: center;
}
.turnCounter{
    display: flex;
    align-items: center;
}
#mainGame{
    padding-top: 100px;
}

.carrusel{
    width: 90%;
    max-width: 120em;
    padding: 2em;
    
    border-style: solid;
    border-color: #fb8500;
    border-radius: 10px;
    background-color: #ffb703;
    z-index: 99;
    overflow-x: hidden;
}
.carrusel .grande{
    width: 400%;
    display: flex;
    padding: 2em;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
    background-color: #ffb703;
    z-index: 1;

    transition: all .5s ease;
    transform: translateX(0%);
}
.carrusel .playerSection{
    width: calc(100%/4);
    background-color: #ffb703;
}

.carrusel .points{
    width: 100%;
    padding: 0.4em;
    
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
    background-color: #ffb703;
}
.carrusel .point{
    width: 2em;
    height: 2em;
    margin: 1em 1em 0;
    background-color: #ffb703;
    border-radius: 100%;
    box-shadow: 1px 1px 5px 2px #219ebc;
}
.carrusel .point.activo{
    width: 2em;
    height: 2em;
    margin: 1em 1em 0;
    background-color: #fb8500;
    border-radius: 100%;
    box-shadow: 1px 1px 5px 2px #219ebc;
}
.playerName{
    background-color: #ffb703;
}
.box{
    background-color: #ffb703;
    border-style: solid;
    border-color: #fb8500;
    aspect-ratio: 1;
}

ul{
    list-style: none;
}

footer{
    padding-top: 100px;
}