.containerSection{
    display: grid;

    grid-template-columns: repeat(auto-fit, minmax(15rem, 1fr));
    place-items: center
    ;
}
.startSection{
    display: inline-block;
}
.scoreSection{
    display: inline-block;
}
.tittle{
    display: flex;
    justify-content: center;
}