 * {
    font-family: Arial, Helvetica, sans-serif;
}
:root{
    --size:3;
}
.containerSection{
    display: grid;

    grid-template-columns: repeat(auto-fit, minmax(15rem, 1fr));
    place-items: center;
}
.startSection{
    display: inline-block;
}
.scoreSection{
    display: inline-block;
}
.tittle{
    display: flex;
    justify-content: center;
}

.gameInfo{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(2rem, 1fr));
    place-items: center;
}

.board{
    display: grid;
    grid-template-columns:repeat(var(--size), 0.5fr);
    grid-template-rows: repeat(var(--size), 0.5fr);
}

.numberGenerator{
    display: flex;
    align-items: center;
}
.turnCounter{
    display: flex;
    align-items: center;
}
#mainGame{
    padding-top: 100px;
}

.carrusel{
    width: 90%;
    max-width: 120em;
}
.carrusel .grande{
    width: 400%;
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-start;
    align-items: center;
}
.carrusel .playerSection{
    width: calc(100%/4);
}
.carrusel .points{
    width: 100%;
    padding: 1em;

    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
}
.carrusel .point{
    width: 2em;
    height: 2em;
    margin: 1em;
}




footer{
    padding-top: 100px;
}